{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section">
  <div class="page home-intro">
    <div class="home-intro__wrapper">
      <p>
        Hey there!
        <br>
        I'm Christofer Saputra, a fullstack engineer specializing in backend and web development.
        <br>
        I build meaningful, performant and maintainable programs.
      </p>
      <div class="home-intro__btn">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 267 176.1" aria-hidden="true">
          <path d="M266,88.1l-11-9.5L165.8,2.1L135.6,21l61.2,52.5H2v29.2h194.8l-61.2,52.5l30.2,18.9L255,97.6L266,88.1z"></path>
        </svg>
        <a href="mailto:christofersaputra29@gmail.com">Get in Touch</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="page projects">
    <h1 class="page-heading">Projects</h1>

    {% for project in projects %}
    <div class="projects__wrapper {% cycle 'projects__wrapper--left' 'projects__wrapper--right' %}">
      {% with project.images.first as image %}
      {% if image %}
      <img src="{{ image.image.url }}" alt="{{ image.caption|default:project.title }}" class="projects__img">
      {% endif %}
      {% endwith %}
      <div class="projects__content">
        <h3 class="page-subheading">{{ project.role }}</h3>
        <h2>{{ project.title }}</h2>
        {% if project.tech_stack %}
        <ul class="projects__stack">
          {% for tech in project.tech_stack %}
          <li class="projects__stack-item">{{ tech }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <p>{{ project.description }}</p>
        {% if project.project_url %}
        <br>
        <a href="{{ project.project_url }}" class="link--static" target="_blank" rel="noopener">View Site</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    <div class="projects__more">
      <a href="{% url 'pages:projects' %}" class="link--clear">... and more over here!</a>
    </div>
  </div>
</section>

{% include "partials/scroll_indicator.html" %}
{% endblock %}
