{% extends "base.html" %}
{% load static %}

{% block title %}Tools – Christofer Saputra{% endblock %}

{% block content %}
<section class="section">
  <div class="page page--sm tools">
    <h1 class="page-heading">Tools</h1>
    <p>These are the languages and tools I used for my software development.</p>
    <br>

    <h2>Backend</h2>
    <ul class="tools__list">
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/cloudflare/cloudflare-icon.svg" alt="Cloudflare logo">
        <div><a href="https://www.cloudflare.com/en-gb/">Cloudflare</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/djangoproject/djangoproject-icon.svg" alt="Django logo">
        <div><a href="https://www.djangoproject.com/">Django</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/docker/docker-official.svg" alt="Docker logo">
        <div><a href="https://www.docker.com/">Docker</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="Git logo">
        <div><a href="https://git-scm.com/">Git</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/gunicorn/gunicorn-icon.svg" alt="Gunicorn logo">
        <div><a href="https://gunicorn.org">Gunicorn</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/nginx/nginx-icon.svg" alt="Nginx logo">
        <div><a href="https://www.nginx.com">Nginx</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/postgresql/postgresql-vertical.svg" alt="PostgreSQL logo">
        <div><a href="https://www.postgresql.org">PostgreSQL</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/python/python-vertical.svg" alt="Python logo">
        <div><a href="https://www.python.org">Python</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/redis/redis-icon.svg" alt="Redis logo">
        <div><a href="https://redis.io">Redis</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="SQLite logo">
        <div><a href="https://www.sqlite.org/index.html">SQLite</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/travis-ci/travis-ci-icon.svg" alt="Travis CI logo">
        <div><a href="https://www.travis-ci.com">Travis CI</a></div>
      </li>
    </ul>
    <br>

    <h2>Frontend</h2>
    <ul class="tools__list">
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/w3_css/w3_css-official.svg" alt="CSS logo">
        <div><a href="https://www.w3schools.com/css/">CSS</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="Figma logo">
        <div><a href="https://www.figma.com/">Figma</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/w3_html5/w3_html5-icon.svg" alt="HTML logo">
        <div><a href="https://www.w3.org/html/">HTML</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/javascript/javascript-icon.svg" alt="JavaScript logo">
        <div><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/reactjs/reactjs-icon.svg" alt="React logo">
        <div><a href="https://reactjs.org/">React</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/sass-lang/sass-lang-icon.svg" alt="SASS logo">
        <div><a href="https://sass-lang.com">SASS</a></div>
      </li>
    </ul>
    <br>

    <h2>Android Dev</h2>
    <ul class="tools__list">
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/kotlinlang/kotlinlang-icon.svg" alt="Kotlin logo">
        <div><a href="http://kotlinlang.org">Kotlin</a></div>
      </li>
      <li class="tools__item">
        <img src="{% static 'images/jetpack-compose.png' %}" alt="Jetpack Compose logo">
        <div><a href="https://developer.android.com/jetpack/compose">Jetpack Compose</a></div>
      </li>
      <li class="tools__item">
        <img src="https://www.vectorlogo.zone/logos/firebase/firebase-icon.svg" alt="Firebase logo">
        <div><a href="https://firebase.google.com">Firebase</a></div>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
