.app-header {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 100;
  font-size: 0.9rem;
  letter-spacing: -0.65px;
}

.app-header__container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.app-header__title {
  font-size: inherit;
  font-weight: normal;
}

.app-header__buttons {
  display: flex;
  align-items: center;
  gap: var(--space-5);
}

.app-header__link {
  font-family: var(--font-mono);
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.app-header__link--active {
  color: var(--theme-color);
}

.app-header__link--active::after {
  opacity: 1;
  transform: translateX(0);
}

@media (min-width: 768px) {
  .app-header {
    top: 65px;
  }
}
