.theme-toggle {
  background: var(--primary-color);
  width: 52px;
  height: 24px;
  padding: 3px 6px;
  border-radius: var(--radius-pill);
  margin-top: -2.5px;
  transform: scale(0.8, 0.8);
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.theme-toggle__input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}

.theme-toggle__input:checked ~ .theme-toggle__handle {
  transform: translateX(0);
}

.theme-toggle__input:focus-visible ~ .theme-toggle__handle {
  outline: 2px solid var(--theme-color);
  outline-offset: 2px;
}

.theme-toggle__handle {
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  top: calc(50% - 9px);
  background: var(--primary-bg-color);
  transform: translateX(22px);
}

.theme-toggle__icon {
  height: 100%;
  aspect-ratio: 1;
  background-size: 100%;
  background-repeat: no-repeat;
}

.theme-toggle__icon--sun {
  background-image: url("../../images/sun.png");
}

.theme-toggle__icon--moon {
  background-image: url("../../images/moon.png");
}
