.home-intro {
  border-radius: var(--radius-lg);
  background-image: url("../../images/home-bg.svg");
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 95%;
}

.home-intro__wrapper {
  width: 72.5%;
}

.home-intro__btn {
  margin-top: var(--space-6);
  display: flex;
  align-items: center;
  gap: var(--space-5);
}

.home-intro__btn svg {
  width: 1.75rem;
  display: inline-block;
  fill: var(--primary-color);
}

@media (min-width: 768px) {
  .home-intro {
    height: 90%;
    font-size: 2rem;
  }
}
