{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section">
  <div class="page home-intro">
    <div class="home-intro__wrapper">
      <p>
        Hey there!
        <br>
        I'm Christofer Saputra, a fullstack engineer specializing in backend and web development.
        <br>
        I build meaningful, performant and maintainable programs.
      </p>
      <div class="home-intro__btn">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 267 176.1" aria-hidden="true">
          <path d="M266,88.1l-11-9.5L165.8,2.1L135.6,21l61.2,52.5H2v29.2h194.8l-61.2,52.5l30.2,18.9L255,97.6L266,88.1z"></path>
        </svg>
        <a href="mailto:christofersaputra29@gmail.com">Get in Touch</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="page projects">
    <h1 class="page-heading">Projects</h1>

    <div class="projects__wrapper projects__wrapper--left">
      <picture>
        <source srcset="{% static 'pages/images/kiosk-1.webp' %}" type="image/webp">
        <source srcset="{% static 'pages/images/kiosk-1.png' %}" type="image/png">
        <img src="{% static 'pages/images/kiosk-1.png' %}" alt="Self Ordering Kiosk" class="projects__img">
      </picture>
      <div class="projects__content">
        <h3 class="page-subheading">Fullstack Engineer</h3>
        <h2>Self Ordering Kiosk</h2>
        <ul class="projects__stack">
          <li class="projects__stack-item">Django</li>
          <li class="projects__stack-item">Docker</li>
          <li class="projects__stack-item">IOT</li>
          <li class="projects__stack-item">CSS</li>
          <li class="projects__stack-item">JavaScript</li>
          <li class="projects__stack-item">Kotlin</li>
          <li class="projects__stack-item">Compose</li>
        </ul>
        <p>
          A maintainable and reusable self service kiosk system,
          which has been deployed in more than 1000 devices (and counting).
          Each kiosk system can be accessed remotely and can be easily updated
          by admin in a centralized dashboard.
        </p>
      </div>
    </div>

    <div class="projects__wrapper projects__wrapper--right">
      <picture>
        <source srcset="{% static 'pages/images/onebunda.webp' %}" type="image/webp">
        <source srcset="{% static 'pages/images/onebunda.png' %}" type="image/png">
        <img src="{% static 'pages/images/onebunda.png' %}" alt="OneBunda" class="projects__img">
      </picture>
      <div class="projects__content">
        <h3 class="page-subheading">Lead Engineer</h3>
        <h2>OneBunda</h2>
        <ul class="projects__stack">
          <li class="projects__stack-item">Django</li>
          <li class="projects__stack-item">PostgreSQL</li>
          <li class="projects__stack-item">Redis</li>
          <li class="projects__stack-item">CSS</li>
          <li class="projects__stack-item">JavaScript</li>
        </ul>
        <p>
          A progressive web app online reservation system that allows user to create offline or online appointment with
          their desired doctor. Integrated with external services such for payment, WhatsApp notifications,
          membership management, and more.
        </p>
        <br>
        <a href="https://onebunda.com" class="link--static" target="_blank" rel="noopener">View Site</a>
      </div>
    </div>

    <div class="projects__more">
      <a href="{% url 'pages:projects' %}" class="link--clear">... and more over here!</a>
    </div>
  </div>
</section>

{% include "partials/scroll_indicator.html" %}
{% endblock %}
