.projects {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.projects__stack {
  display: flex;
  gap: 0.4rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.projects__stack-item {
  color: var(--theme-secondary-color);
}

.projects__wrapper {
  display: flex;
  gap: var(--space-6);
  justify-content: center;
  flex-wrap: wrap;
}

.projects__wrapper--right {
  flex-direction: row;
  text-align: left;
}

.projects__wrapper--right .projects__stack {
  justify-content: left;
}

.projects__content {
  max-width: 540px;
  padding: var(--space-3);
}

.projects__img {
  max-height: 400px;
  border-radius: var(--radius-md);
}

.projects__more {
  text-align: center;
}

@media (min-width: 768px) {
  .projects__wrapper--right {
    flex-direction: row-reverse;
    text-align: right;
  }

  .projects__wrapper--right .projects__stack {
    justify-content: right;
  }

  .projects__content {
    padding: 0;
  }
}
