.tools {
  margin-top: 20%;
}

.tools__list {
  margin: var(--space-3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}

.tools__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tools__item img {
  object-fit: contain;
  width: 40px;
  height: 40px;
}

.tools__item a::after {
  opacity: 0;
  transform: translateX(0);
}

@media (min-width: 768px) {
  .tools {
    margin-top: 5%;
  }
}
